<!doctype html>
<html lang="nl">
	
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Michel">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="chatlobby">
	
	<title>Chat lobby</title>
	<link href="/css/style.css" rel="stylesheet">
</head>

<body>