<%- include('../partials/head.ejs') %>
    <article class="chat-container">
        <header>
            <h1>ChatterMates</h1>
            <a id="leave-btn" href="/">Leave Room</a>
        </header>

        <main>
            <!-- sidebar content related to the chatcontainer -->
            <aside class="chat-sidebar">
                <h2>Room name</h2>
                <h3>Users:</h3>
                <ul id="connected-users"></ul>
            </aside>
            <!-- chat container -->
            <div class="chat-wrapper">
                <ul class="chat-messages">
                    <h3>Chat</h3>
                    <!-- messages go here -->
                </ul>
                
                <!-- user input for sending message -->
                <form class="chat-form">
                    <input id="msg" type="text" placeholder="Type your message here" required autocomplete="off">
                    <button> Send Message</button>
                </form>
            </div>
        </main>

    </article>

<%- include('../partials/footer.ejs') %>