<%- include('../partials/head.ejs') %>
    <main>
        <article>
            <h1>ChatterMates</h1>
            <form class="starting-form" action="/chatlobby" method="GET">
                <input type="text" placeholder="Username">
                <input type="submit" value="Join chatlobby">
            </form>
        </article>
    </main>

<%- include('../partials/footer.ejs') %>