<%- include('../partials/head.ejs') %>
    <main>
        <article>
            <h1>ChatterMates</h1>
            <form class="starting-form" action="">
                <input type="text" placeholder="Username">
                
                <div>
                    <h2>Select lobby</h2>
                    <ul class="catergorie-list">
                        <li><a href="/chat/room">School lobby</a></li>
                        <li><a href="/chat/room/1">Game lobby</a></li>
                    </ul>
                </div>
                <input type="submit" value="Join Server">
            </form>
        </article>
    </main>

<%- include('../partials/footer.ejs') %>